@import "tailwindcss";

#root {
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
}

@layer components {
  .explore-btn {
    @apply px-6 py-2 bg-transparent text-white border border-white font-bold cursor-pointer transition duration-300;
    clip-path: polygon(8% 0%, 92% 0%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
  }

  .explore-btn:hover {
    @apply bg-white text-black;
  }
}
